<!DOCTYPE html>
<html lang="en" ng-app="podlle">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Podlle</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/dashboard.css">
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
</head>

<body>


  <div class="col-md-1 bar">

   	 <a href=""><i class="material-icons bar first">dashboard</i></a>
   	 <a href=""><i class="material-icons bar">explore</i></a>
   	 <a href=""><i class="material-icons bar">radio</i></a>
   	 <a href=""><i class="material-icons bar">favorite</i></a>
   	 <a href=""><i class="material-icons bar">list</i></a>

   	 <a href=""><i class="material-icons bar settings">settings</i></a>
   </div>

    <div class="navbar navbar-default navbar-fixed-top">
    	<a href="" class="navbar-brand"></a>

    	 <div style="text-alight:center;">
            <div class="col-md-4 player">

            </div>
    	 </div>

    	 <ul class="nav navbar-nav navbar-right">
              <li><a href=""><i class="material-icons navbar">cloud</i></a></li>
              <li><a href=""><i class="material-icons navbar">search</i></a></li>
              <li><a href="../navbar-static-top/"><img class="img-circle profile" src="https://scontent-bru2-1.xx.fbcdn.net/hphotos-xfp1/t31.0-8/12366018_1131524166865409_6566858141780381554_o.jpg"></a></li>
            </ul>
    </div>




<script src="libs/angular/angular.min.js"></script>
<script src="libs/angular-route/angular-route.min.js"></script>
<script src="libs/jquery/dist/jquery.js"></script>
<script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="libs/parse/parse.js"></script>
<script src="libs/parse/parse.min.js"></script>
<script src="libs/soundcloud/sdk.js"></script>

<script src="javascripts/app.js"></script>
<script src="javascripts/controllers/podlle.js"></script>
<script src="javascripts/scripts/scripts.js"></script>


</body>
</html>
