<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Podlle</title>
  <link rel="stylesheet" href="/css/paper.css">
  <link rel="stylesheet" href="/css/signin.css">
</head>

  <body>

 <div class="col-md-4 sgnin-part">
   <h1 class="title">podlle</h1>
   <h2 class="title-2">We missed you ! Come Back</h2>

   <form class="form-group" action="index.html" method="post">
        <input type="text" class="form-control name" id="signin-username" placeholder="Usernname">
        <input type="password" class="form-control password" id="signin-password" placeholder="Password">
        <label class="keep"><input type="checkbox"> keep me loged in !</label>
        <a href="" id="signin-submit" class="btn btn-default okay">Okay</a>
   </form>

    <a class="btn btn-default fb" id="fb" href="#">Login with facebook</a>


 </div>

 <div class="col-md-8 signin-blanck">

</div>


<script src="libs/jquery/dist/jquery.js"></script>
<script src="libs/parse/parse.min.js"></script>
<script type="text/javascript" src="javascripts/scripts/signin.js"></script>

  </body>
